	

.logo{

	margin: 0.5%0%0%10%;
	width:78%;
	height:113px;
}


.contact{
	font-family: cursive;
	color: gray;
	margin: 12%0%0%2%;
	font-size:1.5vw;
}
.callus{
	padding:6px 0px 0px 65px;
}
.callus1{


    padding:0px 0px 0px 0px;

}
.search{
	margin: 13%0%0%0%;
	text-align:;
	width:110%;
	padding-right:0%; 

}
.search1{
	width:151%;
	border: 2px solid silver;
	border-radius: 5px;
	padding:2px 1px ;
	margin: 3%0%0%3%;
}
.search2{
	padding-right:3%;
	color:silver;
}
.inp{
	width: 70%; height:23px; border: none;
}
#home{
	width:0%;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#whowe{

		width: 143px;
		margin:0px 0px 0px 0px;
		padding-left: 45px;
	}
	#dating{

		width:130%;
		margin-top: 0px;
		margin-left: 0px;
	}
	#why{

		width:120%;
		margin-top: 0px;
	}
	#rev{
		width:100%;
		margin-top: 0px;
		padding-left: 30px;
	}
	#conus{
		width:100%;
		margin-top: 0px;
		padding-left: 7px;
	}
.manu a:hover {
  color: green;

}
.menu{

	font-size:18px;
}
.menu a{
 	color:gray;
 	font-family: times;
	text-decoration: none;
	margin: 13px;
	font-size:85%;
}	
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #90c429;
}
.second{
	padding: .4%0%0%0%;


	background-color:#a6a9a2;
}
.secim{

	text-align: right;
}


.secco{
	font-family: Georgia;
	font-size: 120%;
    color:white	;
    padding: 1.5%0%0%.4%;
	text-align: center;
}
.secbt{
	font-family: Georgia;
	text-align: left;
	padding: 1%0%.5%1.5%;
	display: inline-block;
	margin: 0%0%1%0%;

}
.footbtn{
	background-color: dimgrey;
	 color: white; 
	 font-size:70%;
	 height:45px; 
	 width:150px; 
	 border: 2px solid white; 
	border-radius:5px;
}
.third{
	background-image:url(images/123.png); 
	width: 100%;
	height: 400px; 
	background-size:cover;
	
}
.thirdbtn{


	text-align: center;
}
.thirdbtn1{

	background-color: #a5b84d; 
	color: white; 
	opacity: 0.8; 
	filter: alpha(opacity=50);  
	padding: 5%12%5%12%; 
	margin: 45%1%1%55%;
	border-radius:0px;
	border: 2px solid yellowgreen;
}
.thico{
	text-align: center;
	font-size: 170%;
	font-family: verdana;
	text-align: center;
	width:100%;
}
.pre1{
	font-size: 35px;
     font-family:Georgia; 
	margin: 9%10%0%3%;
	background-size: cover;
}
.thirdbtn2{

	text-align: center;
}
.btn2{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%0%0%;
	background-color: white;
	padding: 1.5%4%1.5%4%;
	color: white;
	border:1px solid yellowgreen;
	

}
.btn23{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%0%0%;
	background-color: #bfe23f;
	padding: 1.5%4%1.5%4%;
	color: white;
	border:1px solid  #bfe23f;
	

}
.btncr button{
	color: yellowgreen;
	width:7px;
	border:10px double yellowgreen;
	border-radius:70%;


}
.about{

	padding:10%5%2%28%; 
	font-family:Courier ; 
	font-size: 300%;
	color:#202020;
}
#twi{

	background:none;
	color:gray;
  padding: 0.05em 0.07em;
}
.fa-check{

	color:yellowgreen;
}
.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
	}
	
.fa-twitter{
	background: gray;
	color:black;
  padding: 0.4em 0.4em;
	}
.fa-linkedin-in{
  background: gray;
	color:black;
  padding: 0.45em 0.45em;
  }  
.fa-google-plus{
  background: gray;
	color:black;
  padding: 0.40em 0.30em;
  }  
.fa-facebook{
	background: gray;
	color:black;
  padding: 0.40em 0.55em;
	}

.fa-youtube{
	background: gray;
	color:black;
  padding: 0.40em 0.45em;
  
	}
.about2{

	padding: 0%5%2%28%; 
	font-size:20px; 
	font-family: Helvetica; 
	color:darkgray;
}
.about3{
	padding: 1%0%2%28%; 
	font-family: Helvetica;
	color:gray;
	font-size:15px;
}
.about4{
	padding: 2%0%0%28%;
	font-family: Helvetica; 
	color:gray;
}
.about5{
	padding: 0%5%2%28%;
	font-family: Helvetica;
	color:gray;
}
.btn3{
	font-family: Georgia;
	text-align: left;
	margin: 0%5%2%28%;
	background-color: yellowgreen;
	padding:1.5%4%1.5%4%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}

.fouim1{
	
      border:6px solid gray;
	margin: 30%2%2%0%;
	box-shadow: 6px 6px 6px gray;
}
.fifth{
	background-image: url(images/hbg5.png); 
	width: 100%;
	height: 470px;
	text-align: center;

	margin: 4%0%0%0%;

}
.fif2{

	color: white;
}
.fif3{

	color:white; 
	font-size: 90px;
}
.fif4{
	color:white;
	font-family: georgia;
	margin-top:85px;
}

.btn4{
	font-size: 15px;
	font-family: Georgia;
	text-align: left;
	margin: 4%0%0%0%;
	background-color:white;
	padding: 1.5%4%1.5%4%;
	border-radius:5px;
	color: gray;
	border-radius: ;
	border: 3px solid greenyellow;
}
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	height: 600px;
}
.six1{
	text-align: center;
}
.siximg{

	padding-top:10%;
}
.six2{

	font-size:20px;	
	margin-top:2%; 
	font-family: georgia;
}
.one{
	background-color:white ;
	text-align: center;
	font-family: georgia;
	margin-right:.7%;
}
.two{
	background-color:white; 
	text-align: center;
	font-family: georgia;
	margin-right:.7%;
}
.onetwo{

	font-family: georgia;
}
.seventh{
	text-align:center; 
	background-image: url(images/testimonial-bg.jpg); 
	width: 100%;
	height: 470px;
}
.seventh1{
	color:white;
	font-family: georgia; 
	margin-top:5%; 
	font-size:45px;
}
.seventh2{

	margin-top:3%;
	text-align: left;
}
.seventh3{

	border-radius:50%; 
	width:150px; 
	border:9px double yellowgreen;
}
.seventh4{
	margin-top:3%;
	text-align: right;
}
.seventh5{
	font-family: georgia; 
	color: white;

}
.seventh6{
	color:white;
}
.eighth{
	text-align: center; 
	margin: 3%0%3%0%;
}
.eighth1{
	font-family: georgia;
}

.eighthimg{

	width:90%;
}
.btn5{
	font-family: Georgia;
	text-align: left;
	margin: 3%0%9%0%;
	background-color: yellowgreen;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}
.btn6{
	font-family: Georgia;
	text-align: left;
	margin: 20%0%1%0%;
	background-color: yellowgreen;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}
.btn7{

	font-family: Georgia;
	text-align: left;
	margin: 0%0%1%0%;
	background-color: white;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: yellowgreen;
	border: 1px solid yellowgreen;
}
.btn7:hover {
  background-color: yellowgreen;
  color: white;
}

.ninth{
	padding: .4%0%.4%0%;

	background-color:#a6a9a2;
	margin-top:5%;
}
.ninbtn{

	background-color: dimgrey; 
	color: white; 
	font-size:70%; 
	height:45px; 
	width:150px; 
	border-radius:5px;
	border: 2px solid white; 
	border-radius:5px;
}
.tenth{

	background-color:#333333;
}
.rema{

	color:silver;
	font-size:130%; 
	font-family: georgia; 
	text-align: center;
}
.eleventh{

	padding-top:1%;
	background-color:#191919;
}
.contactend{
	font-family: cursive;
	color: white;
	font-size:160%;
	}

	.btn8{

	font-family: Georgia;
	text-align: left;
	margin: 3%0%0%0%;
	background-color: yellowgreen;
	padding: 4%9%4%9%;
	border-radius:5px;
	color: white;
	border: 1px solid yellowgreen;
}
.btn8:hover {
  background-color: white;
  color: yellowgreen;
}
.endlink a:link, a:visited {
  background-color: #f44336;
  color: whit;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}	
.footlink{

	color:silver;
	font-size:80%; 
	font-family:georgia;
}
.end{

  	color:silver; 
  	font-size:80%;
	text-align: center;
}
.eleventh1{
	text-align: center;
	background-color:#E7E4E3;
	font-size: 13px;
	color:#C0C0C0;
}
#bot{
	  color: gray;
}