


@media (min-width: 576px) and (max-width: 767.98px) 
{
  .logo{
  	margin-left: 5%;
 	}

	.contact{
	font-family: cursive;
	color: gray;

	margin: 12%0%0%0%;
	text-align: left;
	float:left;
	}
	.search{
	margin: 8%0%0%0%;
	text-align: right;
	width:40%;
	}
	.search1{

	border: 1px solid gray;
	border-radius: 8%;
}
	.inp{


		width: 80%; 
		height: 50%;
		border: none;
	}
	.second{
	padding: .4%0%.4%0%;

	background-color:darkgray;
}
.secim{
	margin-top: 1%;

	text-align: center;
}
	.secbt{
	font-family: Georgia;
	text-align: center;
	padding: 1.5%0%.5%.5%;
	display: inline-block;
	margin: 2%0%0%0%;

}
	.footbtn{
	 background-color: dimgrey;
	 color: white; 
	 font-size:70%;
	 height:45px; 
	 width:150px; 
	 border: 2px solid white; 
	border-radius:5px;
}
.third{
	background-image: url(images/123.png);
	 width: 100%;
	 height: 350px; 
	 background-size:cover;

}
.thirdbtn{
	text-align: center;
}
.thirdbtn1{

	background-color: yellowgreen; 
	color: white; 
	opacity: 0.8; 
	filter: alpha(opacity=50);  
	padding: 1%5%1%5%; 
	margin: 80%1%1%7%;
	border-radius:5px;
	border: 2px solid yellowgreen;
}
.thico{
	text-align: center;
	font-size: 100%;
	font-family: verdana;
	width:100%;
}
.pre1{
	text-align: center;
	font-size: 25px;
    font-family:Georgia; 
	margin: 15%10%0%4%;
	background-size: cover;
}
.thirdbtn2{

	text-align: center;
}
.btn2{
	font-family: Georgia;
	text-align: left;
	margin: 10%0%0%0%;
	background-color: white;
	padding: 1.5%4%1.5%4%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}
.btn23{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%0%0%;
	background-color: yellowgreen;
	padding: 1.5%4%1.5%4%;
	color: white;
	border:1px solid yellowgreen;
	

}
.about{

	padding:10%5%2%15%; 
	font-family:Courier ; 
	font-size: 250%;
	color:#202020;
}
.about2{

	padding: 2%5%2%15%; 
	font-size:17px; 
	font-family: Helvetica; 
	color:darkgray;
}
.about3{
	padding: 2%0%2%15%; 
	font-family: Helvetica;
	color:gray;
}
.about4{
	padding: 2%0%0%15%;
	font-family: Helvetica; 
	color:gray;
}
.about5{
	padding: 0%5%2%15%;
	font-family: Helvetica;
	color:gray;
}
.fouim{

	text-align: center;
}
.fouim1{
	
      border:6px solid gray;
	margin: 10%2%2%0%;
	box-shadow: 6px 6px 6px gray;
}
.fifth{
	background-image: url(images/hbg5.png); 
	width: 100%;
	height: 400px;
	text-align: center;
	margin: 4%0%0%0%;
}
.fif2{

	color: white;
}
.fif3{

	color:white; font-size: 19px;
}
.fif4{
	color:white;
	font-family:georgia;
	margin-top:40px;
}
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	background-repeat: no-repeat;
	height: 950px;
}
.six2{

	font-size:13px;	
	margin-top:2%; 
	font-family: georgia;
}
.one{
	background-color:white ;
	text-align: center;
	font-family: georgia;
	margin:2%.7%5%10%;
	padding:4%0%2%0%;
	width:70%;

}
.two{
	background-color:white; 
	text-align: center;
	font-family: georgia;
	margin:2%.7%0%10%;
	padding:4%0%2%0%;
	width:70%;

}
.onetwo{

	font-family: georgia;
	font-size: 2vw;
}
.btn6{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%1%0%;
	background-color: yellowgreen;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: white;
}
.seventh{
	text-align:center; 
	background-image: url(images/testimonial-bg.jpg); 
	width: 100%;
	height: 500px;
}
.seventh1{
	color:white;
	font-family: georgia; 
	margin-top:5%; 
	font-size:30px;
}
.seventh2{

	margin:3%0%2%0%;
}
.seventh3{

	border-radius:50%; 
	width:120px; 
	border:9px double yellowgreen;
}
.seventh4{
	margin:3%0%2%0%;
}
.eighth1{
	font-family: georgia;
	font-size:5vw;
}
.eighthimg{

	width:60%;
	margin-top: 4px;
}
}