@media only screen and (max-width: 575.98px) {
  .logo{
 	margin: 1%0%0%3%;
	width:130%;
	height:90px;
	}

	.contact{
	font-family: cursive;
	color: gray;
	margin: 12%0%0%0%;
	font-size:22px;
}
	.callus{
		width:183px;
	padding:6px 0px 0px 0px;
}
.callus1{

    padding:0px 0px 0px 0px;
}
	.search{
	margin: 0%0%0%0%;
	text-align:;
	width:90%;
	padding-right:0%; 

}
	.search1{

	border: 2px solid gray;
	border-radius: 6%;
	padding:2px 0px ;
	margin-left: 0%;
}
#home{
	width:100%;
	margin:0px 0px 0px 0px;
	padding-left: 0px;
}
#whowe{

		width: 143px;
		margin:0px 0px 0px 0px;
		padding-left: 0px;
	}
	#dating{

		width:100%;
		margin:0px 0px 0px 0px;
		margin-left: 0px;
	}
	#why{

		width:120%;
		margin:0px 0px 0px 0px;
	}
	#rev{
		width:100%;
		margin:0px 0px 0px 0px;
		padding-left:0px;
	}
	#conus{
		width:100%;
		margin:0px 0px 0px 0px;
		padding-left: 0px;
	}
	.inp{


		width: 70%; 
		height: 50%;
		border: none;
	}
	
	.second{
	padding: .4%0%.8%0%;

	background-color:darkgray;
}
.secim{
	margin-top:6px;

	text-align: center;
}
	.secbt{
	font-family: Georgia;
	text-align: center;
	padding: 1.5%0%.5%.5%;
	display: inline-block;

}
	.footbtn{
	 background-color: dimgrey;
	 color: white; 
	 font-size:70%;
	 height:35px; 
	 width:110px; 
	 border: 2px solid white; 
	border-radius:5px;
}
.third{
	background-image: url(images/123.png);
	 width: 100%;
	 height: 300px; 
	 background-size:cover;

}
.thirdbtn{
	text-align: center;
}
.thirdbtn1{

	background-color: yellowgreen; 
	color: white; 
	opacity: 0.8; 
	filter: alpha(opacity=50);  
	padding: 1%5%1%5%; 
	margin: 7%1%1%7%;
	border-radius:5px;
	border: 2px solid yellowgreen;
}
.thico{
	text-align: center;
	font-size: 100%;
	font-family: verdana;
	width:100%;
}
.pre1{
	text-align: center;
	font-size: 19px;
    font-family:Georgia; 
	margin: 10%10%0%4%;
	background-size: cover;
}
.thirdbtn2{

	text-align: center;
}
.btn2{
	font-family: Georgia;
	text-align: left;
	margin: 10%0%0%0%;
	background-color: white;
	padding: 1.5%4%1.5%4%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}
.btn23{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%0%0%;
	background-color: yellowgreen;
	padding: 1.5%4%1.5%4%;
	color: white;
	border:1px solid yellowgreen;
	

}
.about{

	padding:10%5%2%8%; 
	font-family:Courier ; 
	font-size: 250%;
	color:#202020;
}
.about2{

	padding: 2%5%2%8%; 
	font-size:17px; 
	font-family: Helvetica; 
	color:darkgray;
}
.about3{
	padding: 2%0%2%8%; 
	font-family: Helvetica;
	color:gray;
	font-size:3vw; 
}
.about4{
	padding: 2%0%0%8%;
	font-family: Helvetica; 
	color:gray;
	font-size:3vw;
}
.about5{
	padding: 0%5%2%8%;
	font-family: Helvetica;
	color:gray;
	font-size:3vw;
}
.btn3{
	font-family: Georgia;
	text-align: right;
	margin: 0%5%2%8%;
	background-color: yellowgreen;
	padding:1%2%1%2%;
	border-radius:5px;
	color: white;
	border: 2px solid yellowgreen;
}
.fouim{

	text-align: center;
}
.fouim1{
	
    border:6px solid gray;
	margin: 10%0%2%0%;
	box-shadow: 6px 6px 6px gray;
	width:60%;
	height:100px;
}
.fifth{
	background-image: url(images/hbg5.png); 
	width: 100%;
	height: 400px;
	text-align: center;
	margin: 4%0%0%0%;
}
.fif2{

	color: white;
}
.fif3{

	color:white;
	font-size:1px;
}
.fif4{
	color:white;
	font-family:georgia;
	margin-top:40px;
	font-size:1.6rem;
}
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	background-repeat: no-repeat;
	height: 650px;
}
.six2{

	font-size:13px;	
	margin-top:2%; 
	font-family: georgia;
}
.one{
	background-color:white ;
	text-align: center;
	font-family: georgia;
	margin:2%.7%5%18%;
	padding:4%0%2%0%;
	width:70%;

}
.two{
	background-color:white; 
	text-align: center;
	font-family: georgia;
	margin:2%.7%0%18%;
	padding:4%0%2%0%;
	width:70%;

}
.onetwo{

	font-family: georgia;
	font-size: 2vw;
}
.btn6{
	font-family: Georgia;
	text-align: left;
	margin: 4%0%1%0%;
	background-color: yellowgreen;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: white;
}
.btn7{

	font-family: Georgia;
	text-align: left;
	margin: 0%0%10%0%;
	background-color: white;
	padding: 1.5%9%1.5%9%;
	border-radius:5px;
	color: yellowgreen;
	border: 1px solid yellowgreen;
}
.btn8{

	font-family: Georgia;
	text-align: left;
	margin: 3%0%0%0%;
	background-color: yellowgreen;
	padding: 2%5%2%5%;
	border-radius:5px;
	color: white;
	border: 1px solid yellowgreen;
}
.seventh{
	text-align:center; 
	background-image: url(images/testimonial-bg.jpg); 
	width: 100%;
	height: 500px;
}
.sevimg{

    width: 20px;
    height: 20px;

}
.seventh1{
	color:white;
	font-family: georgia; 
	margin-top:5%; 
	font-size:27px;
}
.seventh2{
	text-align: center;
	margin:3%0%2%0%;
}
.seventh3{

	border-radius:50%; 
	width:120px; 
	border:9px double yellowgreen;
}
.seventh4{
	margin:3%0%2%0%;
	text-align: center;
}
.eighth1{
	font-family: georgia;
	font-size:25px;
}
.eighth2{
	text-align: center;
}
.eighthimg{

	width:60%;
	margin-top: 4px;
}
.ninbtn{

	background-color: dimgrey;
	 color: white; 
	 font-size:70%;
	 height:35px; 
	 width:110px; 
	 border: 2px solid white; 
	border-radius:5px;
}
.rema{

	color:silver;
	font-size:100%; 
	font-family: georgia; 
	text-align: center;
	margin-top:10px;
}
}
@media only screen and (max-width: 361px) {
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	background-repeat: no-repeat;
	height: 700px;
}
}
@media only screen and (max-width: 415px) {
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	background-repeat: no-repeat;
	height: 750px;
}
}
@media only screen and (max-width: 321px) {
.sixth{
	margin-top: 4%;
	background-image: url(images/hbg6.png); 
	width: 100%;
	background-repeat: no-repeat;
	height: 650px;
}
}
@media only screen and (max-width: 768px) {
#whowe{
	padding-left: 0px;
}
#why{
	margin-top: 10px;
	margin-left: 0px;
}
#rev{

	padding-left: 0px;
	margin-left: 0px;
}
#conus{

	padding-left: 0px;
	margin-left: 0px;
}
}
@media (min-width:  767.98px) and (max-width: 1024px) {
.fouim1{

	margin-top: 270px;

}


	}